<div class="container">
  <div class="header">
    <div class="col-md-5 header-left">
      <div class="sreen-gallery-cursual">
        <div id="owl-demo" class="owl-carousel">
          <div class="item">
            <%= image_tag "divice.png" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 header-right">
      <a href="#"><%= image_tag "logo.png" %></a>
      <p>Perfect app that makes your everyday life so much easier!</p>
      <div class="notify-grid top">
        <form>
          <input type="text" class="text" value="Your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
          <input type="submit" value="Submit" />
        </form>
      </div>
      <br>
      <ul class="big-btns">
        <li><a class="btn-g" href="#">Download</a></li>
        <li><a class="btn-gr" href="#">learn more</a></li>
      </ul>
      <ul class="usefull-for">
        <li><a class="u-apple" href="#"><span> </span></a></li>
        <li><a class="u-and"href="#"><span> </span></a></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="top-grids">
  <div class="container">
    <div class="top-grids-head text-center">
      <h3>Clean and simple Landing page for  Apps</h3>
      <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum In publishing and graphic design, lorem ipsum is a  a document or visual presentation.generator.</p>
    </div>
    <div class="top-grids-box">
      <div class="col-md-4  top-grid text-center">
        <span class="t-icon1"> </span>
        <h4>Very Smart</h4>
        <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
      </div>
      <div class="col-md-4  top-grid text-center">
        <span class="t-icon2"> </span>
        <h4>Responsive</h4>
        <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
      </div>
      <div class="col-md-4  top-grid text-center">
        <span class="t-icon3"> </span>
        <h4>Crisp & clear</h4>
        <p>Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry. </p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="fea-grids">
  <div class="container">
    <div class="col-md-6 fea-grids-left">
      <div id="owl-demo1" class="owl-carousel">
        <div class="item">
          <%= image_tag "divice-screen.png" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 fea-grids-left">
      <h3>Features availalbe with Easy perfect free app </h3>
      <div class="fea-grids-left-grids">
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon1"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Beautiful, modern design</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon2"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Easy to customize</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon3"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Developer Friendly</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="fea-grids-left-grid">
          <div class="fea-grids-left-grid-left">
            <span class="fea-icon4"> </span>
          </div>
          <div class="fea-grids-left-grid-right">
            <h4>Fully Responsive</h4>
            <p>Duis bibendum diam non erat facilaisis tincidunt. </p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="testmonials">
  <div class="container">
    <div id="owl-demo2" class="owl-carousel">
      <div class="item">
        <div class="testmonial-grids">
          <div class="testmonial-head text-center">
            <%= image_tag "quit.png" %>
            <p>"Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit Nunc velit risus, dapibus non interdum.Nunc velit risus, dapibus non"</p>
          </div>
          <div class="testmonial-row">
            <div class="col-md-4 testmonial-grid">
              <div class="t-people-left">
                <%= image_tag "t-pic1.png" %>
              </div>
              <div class="t-people-right">
                <h4>Wells Riley</h4>
                <span>Designer</span>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 testmonial-grid">
              <div class="t-people-left">
                <%= image_tag "t-pic2.png" %>
              </div>
              <div class="t-people-right">
                <h4>Anthony Lagoon</h4>
                <span>photographer</span>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 testmonial-grid">
              <div class="t-people-left">
                <%= image_tag "t-pic3.png" %>
              </div>
              <div class="t-people-right">
                <h4>Anna Yeaman</h4>
                <span>Creative Director </span>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="notify">
  <div class="container">
    <div class="notify-grid bottom">
      <%= image_tag "msg-icon.png" %>
      <h3>Get Notified of any updates!</h3>
      <p>Subscribe to our newsletter to be notified about new version release</p>
      <form>
        <input type="text" class="text" value="Your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
<div class="social-icons">
  <div class="container">
    <ul>
      <li><a class="twitter" href="#"><span> </span></a></li>
      <li><a class="facebook" href="#"><span> </span></a></li>
      <div class="clearfix"> </div>
    </ul>
  </div>
</div>
